{
  "extends": ["airbnb", "react-app"],
	"rules": {
		"arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }],
		"comma-dangle": ["error", "never"],
		"arrow-parens": ["error", "as-needed"],
		"func-names": "off",
		"space-before-function-paren": ["error", "never"],
		"linebreak-style": "off",
		"no-alert": "off",
		"no-console": "off",
		"jsx-quotes": ["error", "prefer-single"],
		"no-extend-native": "off",
		"no-param-reassign": ["error", { "props": false }],
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"no-use-before-define": "off",
		"no-unused-expressions": ["error", { "allowTernary": true }],
		"no-shadow": "off",
		"wrap-iife": "off",
		"react/jsx-filename-extension": "off",
		"react/jsx-closing-bracket-location": [
			"error",
			{
				"selfClosing": "tag-aligned",
				"nonEmpty": "after-props"
			}
		]
	}
}
